*.o
hw1/*
*/#*#
*.swp
*~
*.pdf
*.ps
TAGS
hw2/tests
/hw2/.#compiler.sml
/hw2/.#hw22.scm
/hw2/reader.txt
/hw2/.#reader.txt
/hw2/scratch.sml
/hw2/.#scratch.sml
/hw2.zip
/hw2/hw2.zip
/hw2/submission/hw2.zip
/hw3.zip
/hw3/hw3.zip
/hw4/2011-2012-compiler-construction-arch.zip
/hw4/arch/example
/hw4/arch/lib/.DS_Store
/hw4/arch/lib/scheme/.#types.inc
/hw4/arch/lib/scheme/.#write_sob.asm
build/
/hw4/arch/compiler.O
/hw4/arch/compiler.bak.c
/hw4/arch/lib/scheme/is_true.asm
/hw4/arch/outFile
/hw4/arch/genCode.c
/hw4/arch/gn
/hw3/.#hw32.sml
/hw4/arch/working_param.c
/hw4/arch/in0.scm
/hw4/arch/binp.c
/hw4/arch/loop.S
/hw4/arch/loop.c
/hw4/arch/support-code.scm
