*.o
hw1/*
*/#*#
*.swp
*~
*.pdf
*.ps
TAGS
hw2/tests
/hw2/.#compiler.sml
/hw2/.#hw22.scm
/hw2/reader.txt
/hw2/.#reader.txt
/hw2/scratch.sml
/hw2/.#scratch.sml
/hw2.zip
/hw2/hw2.zip
/hw2/submission/hw2.zip
